
<section class="competenze-sezione">
    <h2>Linguaggi di Programmazione</h2>
    <p>Competenze nei linguaggi di programmazione utilizzati per lo sviluppo di applicazioni e soluzioni software.</p>
    <div class="line flicker-in-2"></div>
    <ul class="competenze-lista">
        <li> <img src="assets/java.png" alt="Competenze di Manuel Magini in JAVA">Java - Competenze nello sviluppo di applicazioni Java.</li>
        <li><img src="assets/javascript.png" alt="Competenze di Manuel Magini in JavaScript-vanilla">JavaScript - Esperienza nell'utilizzo di JavaScript per lo sviluppo di interfacce utente dinamiche.</li>
        <li><img src="assets/typescript.png" alt="Competenze di Manuel Magini in TYPESCRIPT">TypeScript - Conoscenza avanzata di TypeScript per lo sviluppo di applicazioni robuste e scalabili.</li>
        <li><img src="assets/dotnet.png" alt="Competenze di Manuel Magini in DOTNET">.NET - Competenze nell'utilizzo della piattaforma .NET per lo sviluppo di applicazioni Windows e web.</li>
    </ul>
</section>
<section class="competenze-sezione">
    <h2>Framework e Librerie</h2>
    <p>Competenze nell'utilizzo di vari framework e librerie per lo sviluppo di applicazioni web moderne.</p>
    <div class="line flicker-in-2"></div>
    <ul class="competenze-lista">
        <li><img src="assets/bootstrap.png" alt="Competenze di Manuel Magini in BOOTSTRAP">Conoscenza approfondita di Bootstrap per la creazione di layout responsive e componenti stilizzati.</li>
        <li><img src="assets/angular.png" alt="Competenze di Manuel Magini in ANGULAR">Utilizzo di Angular Material per la progettazione di interfacce utente coerenti e moderne.</li>
        <li>Esperienza nell'implementazione di design con Figma per creare prototipi e wireframe.</li>
        <li>Competenze avanzate in Tailwind CSS per lo sviluppo di interfacce flessibili e altamente personalizzabili.
        </li>
    </ul>
</section>
<section class="competenze-sezione">
    <h2>Frontend Development</h2>
    <p>Competenze nello sviluppo del frontend con focus su HTML5, CSS3, JavaScript e framework come React.js, Next.js,
        Angular e TypeScript.</p>
    <div class="line flicker-in-2"></div>
    <ul class="competenze-lista">
        <li><img src="assets/css.png" alt="Competenze di Manuel Magini in CSS-3"><img src="assets/html.png" alt="Competenze di Manuel Magini in HTML-5">Sviluppo di pagine web dinamiche utilizzando HTML5, CSS3 e JavaScript.</li>
        
        

        <li>Esperienza nell'utilizzo di React.js per la creazione di interfacce utente moderne.</li>
        <li><img src="assets/react.png" alt="Competenze di Manuel Magini in REACT">Conoscenza di Next.js per lo sviluppo di applicazioni React.js avanzate.</li>
        <li><img src="assets/angular.png" alt="Competenze di Manuel Magini in ANGULAR">Utilizzo di Angular per lo sviluppo di applicazioni web scalabili.</li>
        <li>Conoscenza di TypeScript per una programmazione più robusta e tipizzata.</li>
    </ul>
</section>
<section class="competenze-sezione">
    <h2>Backend Development</h2>
    <p>Competenze nello sviluppo del backend con focus su Node.js, Express.js, MySQL e MongoDB.</p>
    <div class="line flicker-in-2"></div>
    <ul class="competenze-lista">
        <li><img src="assets/node.png" alt="Competenze di Manuel Magini in NODE.JS"><img src="assets/npm.png" alt="Competenze di Manuel Magini in NPM">Sviluppo di applicazioni server-side utilizzando Node.js.</li>
        <li>Creazione di API RESTful con Express.js.</li>
        <li>Gestione dei database relazionali con MySQL.</li>
        <li>Lavoro con database NoSQL come MongoDB.</li>
    </ul>
</section>
<section class="competenze-sezione">
    <h2>DevOps</h2>
    <p>Competenze nell'ambito DevOps con focus su Jenkins, Git e automazione delle pipeline.</p>
    <div class="line flicker-in-2"></div>
    <ul class="competenze-lista">
        <li>Implementazione di processi di integrazione continua con Jenkins.</li>
        <li><img src="assets/github.png" alt="Competenze di Manuel Magini in GITHUB">Gestione del versionamento del codice utilizzando Git/Github</li>
        <li>Automazione delle pipeline per migliorare l'efficienza e la consegna continua.</li>
    </ul>
</section>
<section class="competenze-sezione">
    <h2>UI/UX Design</h2>
    <p>Competenze nello sviluppo di design UI/UX utilizzando strumenti come Gimp, Inkscape e Figma.</p>
    <div class="line flicker-in-2"></div>
    <ul class="competenze-lista">
        <li>Progettazione e creazione di elementi grafici con Gimp.</li>
        <li>Utilizzo di Inkscape per la creazione di vettoriali e grafiche.</li>
        <li>Progettazione e prototipazione di interfacce utente con Figma.</li>
    </ul>
</section>
<section class="competenze-sezione">
    <h2>Console-based Testing</h2>
    <p>Competenza nell'utilizzo del <code>console.log</code> per effettuare test e debug delle applicazioni.</p>
    <p>Utilizzo del console.log per visualizzare e analizzare output, variabili e messaggi di debug durante lo sviluppo.
    </p>
</section>









<section id="competenze" class="sfondo-sezione">
    <h2>Area Informazioni</h2>
    <button class="menu-button" [class.active]="competenzeMenuVisible" (click)="toggleCompetenzeMenu()">Scopri le mie
        competenze informatiche</button>
    <div class="navigazione-laterale" [style.width.px]="competenzeMenuWidth" [class.visible]="competenzeMenuVisible">
        <button class="close-button" (click)="toggleCompetenzeMenu()">X</button>

       
    </div>
</section>






<section class="sfondo-sezione">
    <div class="card-contatto">
        <div class="immagine-profilo">
            <img src="assets/profilo.png" alt="Manuel Magini" width="200" height="300">
            <h6>Foto scattata nella biblioteca di Dublino del Trinity College</h6>
        </div>
        <div class="testo-contatto">
            <h2>Fondatore di Vetrina Informatica</h2>
            <div class="line flicker-in-2"></div>
            <br>
            <p>Mi chiamo Manuel Magini, un professionista nel campo della progettazione di prodotti multimediali e dello
                sviluppo front-end. La mia carriera vanta esperienze significative nell'industria metalmeccanica con
                Bonfiglioli e Lamborghini, nell'industria chimica con Philip Morris e Fater, e nel settore delle
                telecomunicazioni con la FCA.</p>
            <br>
            <p> In qualità di fondatore di Vetrina Informatica, sono impegnato nella creazione di servizi digitali
                personalizzati, offrendo soluzioni su misura fino al rilascio del software.</p>
            <br>
            <p>Sarò felice di conoscere il tuo progetto e svilupparlo in uno dei migliori framework in circolazione.</p>
            <div class="progetti">
                <a href="https://www.linkedin.com/in/manuel-magini-4430161a7" target="_blank">
                    <img src="assets/linkedin.png" alt="Competenze di Manuel Magini in GITHUB">
                </a>
            </div>
        </div>
    </div>
</section>