<div class="presentation-text focus-in-contract-bck">
    <h2>Esplora la Creatività</h2>
    <p>Benvenuto nel mondo dell'innovazione e del design. Attraverso la fusione di arte e tecnologia, diamo vita a progetti unici che ispirano e sorprendono.</p>
    <p>Lasciati trasportare in un viaggio visivo che racconta la nostra passione per il design e la dedizione all'eccellenza.</p>
</div>

<div class="videos">
    <video class="designer-logo" autoplay loop muted>
        <source src="assets/Progettosenzatitolo.mp4" type="video/mp4">
        Il tuo browser non supporta il tag video.
    </video>

    <video class="designer-logo" autoplay loop muted>
        <source src="assets/Progetto.mp4" type="video/mp4">
        Il tuo browser non supporta il tag video.
    </video>
</div>