<header>
    <h1>Roadmap dei Progetti Futuri</h1>
    <p>Segui il percorso dei miei progetti e delle mie aspirazioni.</p>

</header>

<!-- Timeline -->
<div class="timeline">
    <!-- Marcatore temporale -->
    <div class="marker">

        <!-- Eventi sulla timeline -->
        <div class="event">
            <h3>Fase 1: Portfolio Personale</h3>
            <h2>Creazione di un Portfolio Personale su GITHUB</h2>
            <p>Sviluppo di uno o più progetti personale per mostrare le mie competenze
                competenze.<strong>Completato</strong></p>
            <a href="https://github.com/Ma100390" target="_blank">
                <img src="assets/github.png" alt="Competenze di Manuel Magini in GITHUB">
            </a>
        </div>

        <div class="event">
            <h3>Fase 2: Marketing digitale base</h3>
            <h2>Aumentare il traffico organico e la visibilità online</h2>
            <p><a href=" https://it.wikipedia.org/wiki/Ottimizzazione_per_i_motori_di_ricerca/">SEO</a>Ottimizzazione
                per i motori di ricerca. Si tratta di un insieme di pratiche e strategie volte a migliorare la
                visibilità di un sito web nei risultati dei motori di ricerca come Google, Bing, e
                Yahoo.<strong>In corso</strong></p>
        </div>

        <div class="event">
            <h3>Fase 2: Marketing digitale avanzato</h3>
            <h2>Creazione di una campagna marketing automatizzata</h2>
            <p>Sviluppare con<a href="https://www.selenium.dev/documentation/">Selenium</a> per la promozione ,
                automazione e testing sul browers.<strong>In corso</strong></p>
        </div>

        <div class="event">
            <h3>Fase 4: Grafica 3D con Blender</h3>
            <h2>Creazione di Oggetti Interattivi</h2>
            <p>Utilizzare <a href="https://www.blender.org/">Blender</a> per creare progetti di grafica 3D e renderli
                interattivi.<a href="https://phaser.io/">Phaser.</a><strong>Prossimamente</strong></p>
        </div>

        <div class="event">
            <h3>Fase 5: Sistema di Login JWT</h3>
            <h2>Integrazione Sistema di Login Sicuro</h2>
            <p>Implementa un sistema di login basato su JWT progetti.Per fornire un ambiente sicuro per gli
                utenti per la sicurezza e all'integrazione di sistemi complessi.<strong>Prossimamente </strong></p>
        </div>

    </div>
</div>